<% content_for(:title, "Blog | Post") %>
<div class="row">
  <div class="col-md-5 left" id="blog">
    <h3>Code Blog</h3>
    <p>You can read my thoughts on coding and the projects I've been working on. </p>
  </div>
  <div class="col-md-5 right" id="posts">
    <div>
      <h3>Posts</h3>
        <% if current_admin %>
          <%= link_to 'Add a Post', new_post_path, id: 'new_post_link', :class => "btn btn-success" %>
          <br>
        <% end %>
      </div>
    <div class="post" id="post">
      <%= render @posts %>
    </div>
  </div>
</div>
