/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";



 body {
   background: rgba(63, 191, 165, 0.3);
 }

 .container {
   margin-top: 40px;
   background: rgba(63, 130, 150, 0.1);
   padding-bottom: 20px;
 }

 .form-container {
   margin-top: 40px;
   margin-left: 20%;
   margin-right: 20%;
   padding: 20px;

   background: rgba(63, 130, 150, 0.1);
   padding-bottom: 20px;

 }

 .navbar {
 background: rgba(63, 130, 150, 0.2);
 border: none;
 }

 .left {
 margin: 20px;
 }

 .right {
 margin: 20px;
 }

 .project_image img{
   max-width: 400px;

 }

 .spacer {

 }
